  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
  * {
    padding: 0;
    margin: 0;
  }

  body{
    background-color: #F5ED79;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    font-family: "poppins";
  }

  .Texto {
    flex-direction: column;
    display: flex;
    text-align: center;
  }


  .Texto a {
    margin-bottom: 5%;
    font-size: 2em;
    text-decoration: none;

    font-family: 'Dancing Script', cursive;
    color: black;
  }



  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }




  form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 4px;
    width: 400px;
    padding: 40px;
    
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 255);
    background-color: #F5EEAD;

  }

  form legend {
    margin-bottom: 20%;

  }
  form h1 {
    font-size: 3em;

    text-decoration: underline;
  }

  form legend hr {
    width: 38%;
    background-color: black;
  }

  form label {
    margin-bottom: 20px;
    font-size: 1.5em;
  }

  form input {
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    margin-bottom: 20%;
    font-size: 1.5em;

    background: none;
  }

  form input::placeholder {
    height: 100%;
  }

  button {
    width: 100%;
    height: 100px;
    border-radius: 4px;

    background-color: #C59660;
    font-family: "poppins";
  }

  @media (max-width:450px) {
    .container {
      display: flex;
      height: 100vh;
    }

    main {
      width: 300px;
      margin: 0 auto 0 auto;
    }

    form h1 {
      font-size: 2em;
    }

    form label {
      margin-bottom: 5px;
      font-size: 1em;
    }

    form input {
      margin-bottom: 5px;
      font-size: 1em;
    }

    button {
      height: 50px;
    }
  }